---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
import servicesData from './Data/services.json';
---

<Container>
  <!-- Section Title -->
  <div class="relative flex flex-col items-center md:flex-row" id="services">
    <Topic 
      title="Our Services" 
      description="Our digital marketing agency helps businesses grow and succeed online through a range of services, including SEO, PPC, social media marketing, and content creation."
    />
  </div>

  <!-- Services Cards -->
  <div class="flex-row items-center py-5">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6">
      {servicesData.map(({ background, name1, name2, arrow, link, image, description }) => (
        <div class={`${background} p-6 rounded-lg shadow-lg hover:shadow-xl transition duration-300`}>
          <div class="flex flex-col justify-between h-full">
            <!-- Service Titles -->
            <div class="mb-4">
              <div class="text-3xl font-medium text-gray-900">{name1}</div>
              <div class="text-3xl font-medium text-gray-900">{name2}</div>
            </div>

            <!-- Learn More Button -->
            <div class="flex flex-col items-start">
              <!-- Learn more link -->
              <a 
                href="javascript:void(0)" 
                class="flex items-center gap-4 mt-auto text-custom-blue font-medium text-xl hover:text-custom-dark-blue transition"
                data-target-id={`description-${name1}`}
                data-text-id={`text-${name1}`}
                data-more-text-id={`more-text-${name1}`}
                id={`learn-more-${name1}`}
                // @ts-ignore
                client:load
              >
                <img class="w-10 h-10" src={arrow} alt="Arrow icon" id={`arrow-${name1}`} />
                <span id={`more-text-${name1}`}>Read more</span>
              </a>

              <!-- Description, initially hidden -->
              <p id={`description-${name1}`} class="text-lg text-gray-600 mt-4 description hidden">{description}</p>

              <!-- Show less link, initially hidden -->
              <a 
                href="javascript:void(0)" 
                id={`show-less-${name1}`}
                class="text-custom-blue font-medium text-lg hidden mt-2 hover:text-custom-dark-blue transition"
                // @ts-ignore
                client:load
              >
                Show less
              </a>
            </div>
          </div>

          <!-- Service Image -->
          <div class="mt-6">
            <img 
              src={image} 
              alt={`${name1} and ${name2} Service Illustration`} 
              class="hidden md:block w-[210px] h-[170px] mx-auto"
            />
          </div>
        </div>
      ))}
    </div>
  </div>

  <!-- Call to Action -->
  <div class="flex-row items-center my-12 p-14 bg-zinc-100 rounded-3xl">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Text Section -->
      <div class="space-y-6">
        <h2 class="text-3xl font-bold text-black">
          Let’s make things happen
        </h2>
        <p class="text-lg text-gray-700">
          Contact us today to learn more about how our digital marketing services can help your business grow and succeed online.
        </p>
        <a 
          href="/" 
          class="px-8 py-4 bg-zinc-900 hover:bg-white text-white hover:text-black border border-black rounded-xl inline-block transition duration-300"
        >
          Get your free proposal
        </a>
      </div>

      <!-- Illustration -->
      <div class="hidden md:block">
        <img 
          src="/services/Illustration.svg" 
          alt="Illustration of digital collaboration" 
          class="w-2/3 mx-auto"
        />
      </div>
    </div>
  </div>
</Container>
<!-- TODO: the read more is not working any more -->
<!-- TODO: strongly type use the same strucure as social component -->